.App {
  background-color: navy;
  min-height: 100vh;
  padding: 3%;
}

a {
  color: #ff7400;
  font-weight: bolder;
  padding: 3%;
}

#links {
  text-align: right;
}

h1 {
  color: #ff7400;
  text-align: center;
}