@media (min-width: 992px) {
    .form-check {
        padding: 1%;
        margin: 0 auto;
        width: 50%;
    }

    a {
        font-size: 1rem;
    }

    .form-check-label span {
        font-size: 0.7rem;
    }
    .form-check-input {
        margin-top: 0.5rem;
    }
}