.card {
    min-height: 150px;
    max-width: 75%;
}

.classRoom {
    color: white;
    border: 1px solid white;
    margin: 0 auto;
}

.card {
    margin: 0 auto;
    /* border: 1px solid grey; */
    border-radius: 15px;
    height: 80%;
}

i.fas.fa-plus-circle {
    color: black;
    font-size: 2rem;
}

.create-class {
    margin: 0 auto;
}

/* .card a {
    text-align: center;
    margin: 1rem auto;
    color: black;
} */
h5.text-center.card-title {
    color: black;
}
.card:hover {
    border: 4px solid #ff7400;
}

@media (min-width: 768px) {
    .wel {
        margin-bottom: 2rem;
    }
}
@media (min-width: 992px) {
    .card {
        max-width: 100%;
    }
    /* Add animation (fade in the popup) */
    @-webkit-keyframes riseUp {
        from {
            bottom: 0px;
            right: 0px;
            box-shadow: none;
        }
        to {
            bottom: 10px;
            right: 10px;
            box-shadow: 6px 6px 6px 6px #ccc;
        }
    }
    @keyframes riseUp {
        from {
            bottom: 0px;
            right: 0px;
            box-shadow: none;
        }
        to {
            bottom: 10px;
            right: 10px;
            box-shadow: 6px 6px 6px 6px #ccc;
        }
    }
    .card:hover {
        border: 4px solid #ff7400;
        -webkit-animation: riseUp 1s;
        animation: riseUp 1s;
        cursor: pointer;
        bottom: 10px;
        right: 10px;
        box-shadow: 6px 6px 6px 6px #ccc;
    }
    .card-img {
        max-height: 50%;
        max-width: 65%;
        align-items: center;
    }
    img.card-img {
        margin-left: 35px;
        transform: scale(0.5);
    }
    h1 {
        padding: 15px;
        margin-bottom: 8%;
        font-size: 4em;
    }
}