@media (min-width: 992px) {
    .classRoom {
        color: white;
        border: 1px solid white;
    }
    
    .card {
        border: 1px solid grey;
        height: 100%;
        width: auto;
        max-width: 100%;
        border-radius: 15px;
    }
    
    .card-img {
        max-height: 50%;
        max-width: 65%;
        align-items: center;
    }
    img.card-img{
        margin-left: 35px;
        transform: scale(0.5);
    }
    h1 {
        padding: 15px;
        margin-bottom: 8%;
        font-size: 4em;
    }
}