.classRoom {
    color: white;
    border: 1px solid white;
}

.card {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 15px;
}

.card-img {
    height: auto;
    max-height: 50%;
    /* width: auto; */
    max-width: 65%;
    align-items: center;
}
img.card-img{
    margin-left: 35px;
}

h1.wel {
    padding: 1%;
    margin-bottom: 10%;
    font-size: 4em;
}
@media (min-width: 992px) {
    h1.wel {
        padding: 1%;
        font-size: 5em;
    }
}