body {
    width: 100%;
}

.create-class-form {
    width: 90%;
}

.create-class-form:first-child {
    margin-top: 5%;
}

.form-group-create-class {
    max-width: 100%;
}

.text-header {
    margin-bottom: 7%;
    text-align: center;
}

.remove-student-name, .select-class-dd-txt {
    display: inline-block;
    width: 90%;
    font-size: 1rem;
    vertical-align: text-bottom;
}

.modal-btn {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    width: 15rem;
    transform: scale(0.8);
    background: #fff;
    border: solid 2px #ff7400;
    background-color: #ff7400;
    border-color: #ff7400;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 0 0 #ff7400;
}

input.stdnt-input {
    width: 100%;
    display: block;
    margin: 5% auto;
    max-width: 100%;
}

.create-student-img {
    width: 50%;
    height: 65%;
    transform: scale(0.5);
}

.add-student-form-row {
    justify-content: center;
}

.create-class-display-students {
    margin-left: -30px;
    margin-right: 30px;
}

.create-class-display-students button {
    max-width: 100% !important;
}

.create-class-rocket-box {
    padding-left: 0.2rem;
    padding-right:0.2rem;
    margin: 0 auto;
    display: inline;
}

@media (min-width: 768px) {
    .create-class-form {
        width: 100%;
    }
    
    .create-class-form:first-child {
        margin-top: 5%;
    }
    
    .text-header {
        margin-bottom: 4%;
    }

    .select-class-dropdown, .btn-secondary {
        margin: 0 auto;
        width: 25rem;
    }
    
    .remove-student-name, .select-class-dd-txt {
        display: inline-block;
        width: 90%;
        font-size: 1.5rem;
        vertical-align: text-bottom;
    }
    
    .modal-btn {
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        width: 15rem;
        transform: scale(0.8);
        background: #fff;
        border: solid 2px #ff7400;
        background-color: #ff7400;
        border-color: #ff7400;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        box-shadow: 0 0 0 #ff7400;
    }
    
    .create-class-display-students {
        margin-left: -30px;
        margin-right: 30px;
    }
    
    .create-class-rocket-box {
        padding-left: 0.2rem;
        padding-right:0.2rem;
        margin: 0 auto;
        display: inline;
    }
}

@media (min-width: 992px) {
    .create-class-sidebar {
        height: auto;
    }

    .text-header {
        text-align: left;
    }

    .create-class-contents {
        margin-top: 1%;
        height: 100%;
    }

    .create-class-form {
        margin-left: 5%;
    }

    .create-class-form:first-child {
        margin-top: 5%;
    }

    .dropdown-toggle::after {
        margin: 0 auto;
    }

    .remove-student-name {
        font-size: 1.8rem;
        vertical-align: text-bottom;
    }

    input.stdnt-input, .form-control {
        margin: 0;
    }
}

