.answerChoices {
    display: flex;
    flex-wrap: wrap;
    width: 55vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

.answer {
    width: 24vw;
    height: 10vh;
    /* padding: 15px;
    margin: 5px; */
}

.f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
}

.fg {
     margin-top: 5%;
     
}

.fg input {
    margin-bottom: 5%;
}

label {
    font-weight: bold;   
  }

  @media (min-width: 992px) {
      .f {
          margin-top: 0;
      }
      .fg {
          padding: 0;
          margin: 5% 0 0 0;
      }
      .fg input {
          margin-left: 0;
      }
  }