.answerChoices {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 55vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

.card-img {
    height: auto;
    max-height: 50%;
    max-width: 65%;
    align-items: center;
}
img.card-img{
    margin-left: 35px;
}

.answer {
    width: 24vw;
    height: 10vh;
}