.page-container {
    background-color: navy;
    min-height: 100vh;
    padding: 3%;
}

.form-group {
    padding: 1%;
    margin: 0 auto;
    width: 40%;
}

input.form-control {
    margin: 1%;
}

h1 {
    color: #ff7400;
    text-align: center;
}
