.page-container {
    min-height: 100vh;
    padding: 3%;
}

form {
    border-radius: 35px;
    margin: 0 auto;
    margin-top: 5%;
    border: solid 2px #424242;
    margin-bottom: 2%;
}

.form-group {
    padding: 1%;
    margin: 6%;
    margin-left: 6%;
    width: 60%;
}

input.form-control {
    margin: 10%;
}

h1 {
    margin-top: 2%;
    font-size: 4em;
    color: #ff7400;
    text-align: center;
}

p {
    color: #ff0404;
    text-align: center;
}

a {
    font-size: 1.5rem;
}

@media (min-width: 992px) {
    form {
        border-radius: 35px;
        margin: 0 auto;
        margin-top: 5%;
        border: solid 2px #424242;
        margin-bottom: 2%;
    }
    
    .form-group {
        padding: 1%;
        margin: 0 auto;
        width: 60%;
    }
    
    input.form-control {
        margin: 3%;
    }
    
    h1 {
        margin-top: 2%;
        font-size: 4em;
        color: #ff7400;
        text-align: center;
    }
    
    p {
        color: #ff0404;
        text-align: center;
    }
    
    a {
        font-size: 1.5rem;
    }
}



