@media (min-width: 992px) {
    .breadcrumb {
        min-width: 80%;
        margin-top: 1%;
    }

    h2 {
        width: 100%;
        text-align: center;
        color: #ff7400;
        font-family: "Righteous", cursive;
        padding: 5%;
        font-size: 4em;
    }
    
    form {
        background-color: white;
        padding: 2%;
        min-width: 60%;
    }
}