
.sidebar {
    display: flex;
    align-items: flex-start;
    border-radius: 35px;
    border: solid 2px #ff7400;
    margin-bottom: 15px;
}
#home {
    color: transparent;
}
#nLink {
    color: white;
}

a.nav-link {
    border-radius: 35px;
    background-color: #ff7400;
}

a.nav-link:hover {
    color: #bfc6cc !important;
    background-color: #ff7400;
    border-radius: 10px;
    text-shadow: .5px .5px black;
    box-shadow: 1px 1px;
}

@media (min-width: 992px) {
    .sidebar {
        display: flex;
        border-radius: 35px;
        border: solid 2px #ff7400;
        align-items: flex-start;
        /* min-height: 100vh; */
        position: fixed;
        width: 19%;
        height: 82%;
    }
    a.nav-link {
        position: relative;
        top: 3rem;
        right: 12rem;
        display: flex;
        font-size: 1.5rem;
        justify-content: flex-start;
        margin: 10px 10px 10px 10px;
    }
    a.nav-link:hover {
        color: #bfc6cc !important;
        background-color: #ff7400;
        border-radius: 35px;
        text-shadow: .5px .5px black;
        box-shadow: 1px 1px;
    }
    .collapse {
        display: flex;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
}

@media (max-width: 479px) {
    .ml-auto {
        display: flex;
        border: 1px solid purple;
    }
}


