.sidebar {
    display: flex;
    flex-direction: row;
}

.navbar-expand-sm .navbar-nav {}

@media (min-width: 576px) {
    .sidebar {
        display: flex;
        display: block;
        min-height: 100vh;
    }
    .collapse {
        display: flex;
    }
    a.nav-link {
        margin: 0 auto;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
}